 @import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');
.大標題{
    /* font-size: 50px;
    font-family: 'Noto Sans TC', sans-serif; */
    color:rgb(255, 255, 255);
    /* background-color: bisque; */
}

/* .小標題{
    color: red;
}
#Slogan{
    color: aqua;
} */

.Home{
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    background-image: url('Web.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.aboutme{
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    display: flex;
}
.left{
    width: 50%;
    /* background-color: blue; */
    background-image: url('Web2.jpg');
    background-size: cover;
    align-items: center;
    background-position: center;
    justify-content: center;
    background-repeat: no-repeat;
}
.right{
    width: 50%;
    background-color: yellow;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact{
    width: 100%;
    height: 50vh;
    /* background-color: red; */
    background-color: gray;
    /* background-image: url('UC5.jpg'); */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contact-text{
    width: 50%;
    /* background-color: yellow; */
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}